
@font-face {
    font-family: OpenSans;
    font-style: normal;
    src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    font-style: italic;
    src: url(./fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(./fonts/PlayfairDisplay.ttf);
}

@page {
    margin: 2.5cm;
    @bottom-left{
        font-family: 'OpenSans';
        font-size: 9pt;
        content: '';
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-kerning: auto;
}

p, a, li {
    font-family: 'OpenSans';
}

.session-name{
    font-size: 42pt;
    text-align: center;
}

.date{
    padding: 2.5mm 0mm 0mm 0mm;
    text-align: center;
}

.author{
    font-style: italic;
    padding: 2.5mm 0mm 50mm 0mm;
    text-align: center;
}

